.ol-feature {
    cursor: pointer;
}

.feature-point {
    cursor: pointer;
}

.ol-popup {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}